{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - Emploi du temps{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.css" />
<style>
	#summaryCalendar
	{
		text-align: center;
		font-size: 4em;
	}
	
	.fc-header-title h2{
		font-size: 14px;
	}
	 
	
	/*
	* Off Canvas
	* --------------------------------------------------
	*/
	@media screen and (max-width: 767px) {

		.fc-header-title h2{
			max-width: 100px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.fc-header-left,
		.fc-header-right,
		.fc-header-center,
		.fc-header-title h2{
			font-size: 10px;
		}
		.row-offcanvas {
			position: relative;
			-webkit-transition: all 0.25s ease-out;
			-moz-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
		}

		.row-offcanvas-right
		.sidebar-offcanvas {
			right: -50%; /* 6 columns */
		}

		.row-offcanvas-left
		.sidebar-offcanvas {
			left: -50%; /* 6 columns */
		}

		.row-offcanvas-right.active {
			right: 50%; /* 6 columns */
		}

		.row-offcanvas-left.active {
			left: 50%; /* 6 columns */
		}

		.sidebar-offcanvas {
			position: absolute;
			top: 0;
			width: 50%; /* 6 columns */
		}
	}
</style>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js" ></script>
<script>
	var server = "{{ path('agenda_index') }}";
</script>
<script src="{{ asset('bundles/etudiantagenda/js/agendaetudiantEdt.js') }}"></script>
<script>
	$(document).ready(function() {
	$('[data-toggle=offcanvas]').click(function() {
		$('.row-offcanvas').toggleClass('active');
	});
	});
</script>
{% endblock %}

{% set button %}
    <div class="pull-left visible-xs">
		<button type="button" class="btn btn-default navbar-btn" data-toggle="offcanvas">Emploi du temps</button>
	</div>
{% endset %}

{% block body %}
{{ render(controller('EtudiantAgendaBundle:Default:menu', { 'active': 'agenda_edt', 'button' : button })) }}
<div class="container">
	<div class="row row-offcanvas row-offcanvas-left">
		<div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation"> 
			<div id="menu"></div>
			<hr />
			<div id="groups" class="list-group"></div>
		</div><!--/span-->
		<div class="col-xs-12 col-sm-10">
		
			<!-- Modal -->
			<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="myPopupLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close"  onclick="agendaetudiantEdt.resetOldEvent();" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myPopupLabel"></h4>
					</div>
					<div class="modal-body">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" onclick="agendaetudiantEdt.resetOldEvent();">Fermer</button>
					</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<div id="calendar" class="col-md-10"><div id="summaryCalendar">Veuillez sélectionner une formation à afficher</div></div>
		</div><!--/span-->
	</div><!--/row-->
</div>
{% endblock %}
