{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - Mon agenda{% endblock %}

{% block body %}
{{ render(controller('EtudiantAgendaBundle:Default:menu', { 'active': 'agenda_index' })) }}
<div class="container">
	<article>
		<div class="jumbotron">
			<h1>Agenda Étudiant</h1>
			<p>Bienvenue sur votre agenda, il vous permet d'accéder facilement aux informations de votre université et plus encore …</p>
		</div>
	</article>
	<article>
		<div class="col-6 col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<h2>Emploi du temps</h2>
			<p>C'est l'ensemble des emplois du temps de votre université, vous pouvez le consulter à tous moment et le synchroniser avec votre logiciel préféré (Google Agenda, iCal, Chandler …)</p>
			<p><a class="btn btn-default" href="{{ path('agenda_edt') }}" role="button">Afficher &raquo;</a></p>
		</div>
	</article>
{#	<article>
		<div class="col-6 col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<h2>Transports</h2>
			<p>Vous pouvez consulter toutes les lignes de bus supportées pour vous rendre facilement à votre université …</p>
			<p><a class="btn btn-default" href="#" role="button">Afficher &raquo;</a></p>
		</div>
	</article>#}
	<article>
		<div class="col-6 col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<h2>Support</h2>
			<p>Votre université n'est pas supportée par nos services, vous voulez avoir plus d'informations sur l'application …</p>
			<p><a class="btn btn-default" href="{{ path('agenda_support') }}" role="button">En savoir plus &raquo;</a></p>
		</div>
	</article>
	<div class="clearfix visible-sm"></div>
	<article>
		<div class="col-6 col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<h2>À propos</h2>
			<p>Tout ce qu'il faut savoir sur l'application elle-même, ses services, son développement, ses licences …</p>
			<p><a class="btn btn-default" href="{{ path('agenda_about') }}" role="button">Afficher &raquo;</a></p>
		</div>
	</article>
	<div class="clearfix visible-md"></div>
	<article>
		<div class="col-6 col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<h2>Api</h2>
			<p>Vous êtes développeur, vous souhaitez utiliser nos services, cette section décrit nos api pour vous …</p>
			<p><a class="btn btn-default" href="{{ path('agenda_api') }}" role="button">Afficher &raquo;</a></p>
		</div>
	</article>
</div>
{% endblock %}