{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - Support{% endblock %}

{% block body %}
{{ render(controller('EtudiantAgendaBundle:Default:menu', { 'active': 'agenda_support' })) }}
<div class="container">
	<article>
		<div class="jumbotron">
			<h1>Support</h1>
			<p>Vous souhaitez savoir quels services nous supportons, voici ci dessous une liste de ce qui est supporté ou en cours de support</p>
		</div>
	</article>
	<article>
		<h2>Résumé</h2>
		<div class="table-responsive">
			<table class="table table-condensed table-bordered">
				<thead>
					<tr>
						<th>Service</th>
						<th>Api</th>
						<th>Composants</th>
						<th>Documentation</th>
						<th>Vue</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Emploi du temps Université de savoie</td>
						<td class="success">OK</td>
						<td class="success">OK</td>
						<td class="success">OK</td>
						<td class="success">OK</td>
					</tr>
					<tr>
						<td>Menu Crous académie de Grenoble</td>
						<td class="success">OK</td>
						<td class="success">OK</td>
						<td class="success">OK</td>
						<td class="danger">À faire</td>
					</tr>
					<tr>
						<td>Autobus Stac</td>
						<td class="danger">À faire</td>
						<td class="success">OK</td>
						<td class="danger">À faire</td>
						<td class="danger">À faire</td>
					</tr>
				</tbody>
			</table>
		</div>
	</article>
	<article>
		<h2>Progression</h2>
		{% for milestone in milestones %}
		<section>
			<h3>{{ milestone.info.title }} <span class="badge">{{ milestone.info.open_issues }}</span></h3>
			<p>
				{{ milestone.info.description }}
			</p>
			<p>
				<strong>Date de sortie :</strong> {{ milestone.info.due_on|date("m/d/Y") }}
			</p>
			{% set progress = (milestone.info.closed_issues * 100) / (milestone.info.open_issues + milestone.info.closed_issues) %}
			<div class="progress">
				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%">
					<span class="sr-only">{{ progress }}% Complete (milestone)</span>
				</div>
			</div>
			{% for issue in milestone.issues %}
			<p>
				<a href="{{ issue.user.html_url }}"><img alt="{{ issue.user.login }}" src="{{ issue.user.avatar_url }}" title="{{ issue.user.login }}" /></a>
				<a href="{{ issue.html_url }}">{{ issue.title }}</a>
					{% for label in issue.labels %}
					<span class="label" style="background-color: #{{label.color}}; color: #000;">{{label.name}}</span>
					{% endfor %}
					{% if issue.assignee is not null %}
					assigné à <a href="{{ issue.assignee.html_url }}" title="{{ issue.assignee.login }}"><strong>{{ issue.assignee.login }}</strong></a>
					{% endif %}
			</p>
			{% endfor %}
		</section>
		{% endfor %}
	</article>
</div>
{% endblock %}